/* UTF-8 */
@font-face {
  font-family: 'Avenir';
  src: url('https://cdn-s3.headout.com/assets/fonts/avenir-light.eot?#iefix');
  src: url('https://cdn-s3.headout.com/assets/fonts/avenir-light.eot?#iefix')
      format('eot'),
    url('https://cdn-s3.headout.com/assets/fonts/avenir-light.woff2')
      format('woff2'),
    url('https://cdn-s3.headout.com/assets/fonts/avenir-light.woff')
      format('woff'),
    url('https://cdn-s3.headout.com/assets/fonts/avenir-light.ttf')
      format('truetype');
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'Avenir';
  src: url('https://cdn-s3.headout.com/assets/fonts/avenir-roman.eot?#iefix');
  src: url('https://cdn-s3.headout.com/assets/fonts/avenir-roman.eot?#iefix')
      format('eot'),
    url('https://cdn-s3.headout.com/assets/fonts/avenir-roman.woff2')
      format('woff2'),
    url('https://cdn-s3.headout.com/assets/fonts/avenir-roman.woff')
      format('woff'),
    url('https://cdn-s3.headout.com/assets/fonts/avenir-roman.ttf')
      format('truetype');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Avenir';
  src: url('https://cdn-s3.headout.com/assets/fonts/avenir-medium.eot?#iefix');
  src: url('https://cdn-s3.headout.com/assets/fonts/avenir-medium.eot?#iefix')
      format('eot'),
    url('https://cdn-s3.headout.com/assets/fonts/avenir-medium.woff2')
      format('woff2'),
    url('https://cdn-s3.headout.com/assets/fonts/avenir-medium.woff')
      format('woff'),
    url('https://cdn-s3.headout.com/assets/fonts/avenir-medium.ttf')
      format('truetype');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Avenir';
  src: url('https://cdn-s3.headout.com/assets/fonts/checkout/Avenir-Heavy.woff')
      format('woff'),
    url('https://cdn-s3.headout.com/assets/fonts/checkout/Avenir-Heavy.woff2')
      format('woff2');
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik';
  src: url('https://cdn-s3.headout.com/assets/fonts/Graphik-Bold-Web.eot?#iefix');
  src: url('https://cdn-s3.headout.com/assets/fonts/Graphik-Bold-Web.eot?#iefix')
      format('eot'),
    url('https://cdn-s3.headout.com/assets/fonts/Graphik-Bold-Web.woff2')
      format('woff2'),
    url('https://cdn-s3.headout.com/assets/fonts/Graphik-Bold-Web.woff')
      format('woff');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Graphik';
  src: url('https://cdn-s3.headout.com/assets/fonts/Graphik-Semibold-Web.eot?#iefix');
  src: url('https://cdn-s3.headout.com/assets/fonts/Graphik-Semibold-Web.eot?#iefix')
      format('eot'),
    url('https://cdn-s3.headout.com/assets/fonts/Graphik-Semibold-Web.woff2')
      format('woff2'),
    url('https://cdn-s3.headout.com/assets/fonts/Graphik-Semibold-Web.woff')
      format('woff');
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Graphik';
  src: url('https://cdn-s3.headout.com/assets/fonts/Graphik-Medium-Web.eot?#iefix');
  src: url('https://cdn-s3.headout.com/assets/fonts/Graphik-Medium-Web.eot?#iefix')
      format('eot'),
    url('https://cdn-s3.headout.com/assets/fonts/Graphik-Medium-Web.woff2')
      format('woff2'),
    url('https://cdn-s3.headout.com/assets/fonts/Graphik-Medium-Web.woff')
      format('woff');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Graphik';
  src: url('https://cdn-s3.headout.com/assets/fonts/Graphik-Regular-Web.eot?#iefix');
  src: url('https://cdn-s3.headout.com/assets/fonts/Graphik-Regular-Web.eot?#iefix')
      format('eot'),
    url('https://cdn-s3.headout.com/assets/fonts/Graphik-Regular-Web.woff2')
      format('woff2'),
    url('https://cdn-s3.headout.com/assets/fonts/Graphik-Regular-Web.woff')
      format('woff');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Graphik';
  src: url('https://cdn-s3.headout.com/assets/fonts/Graphik-Light-Web.eot?#iefix');
  src: url('https://cdn-s3.headout.com/assets/fonts/Graphik-Light-Web.eot?#iefix')
      format('eot'),
    url('https://cdn-s3.headout.com/assets/fonts/Graphik-Light-Web.woff2')
      format('woff2'),
    url('https://cdn-s3.headout.com/assets/fonts/Graphik-Light-Web.woff')
      format('woff');
  font-weight: 300;
  font-display: swap;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* HEADER */

.footer-super-text {
  font-family: Graphik;
  padding-right: 10px;
}

.super-stuff {
  margin-bottom: 100px;
}

.super-stuff .text {
  margin-top: 20px;
}

.text-sub {
  margin: 10px 0px;
  font-size: 18px;
}

.terms-new {
  margin-top: 20px !important;
  float: left;
  font-size: 18px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.header-container {
  height: 68px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 12px 2px rgba(33, 33, 33, 0.25);
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 0;
  right: 0;
  z-index: 2;
}

.header-logo img {
  margin-left: -8px;
  height: 44px;
  max-width: 200px;
}
.header-logo-wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: max-content max-content max-content;
  grid-column-gap: 10px;
}
.header-logo-wrapper img {
  height: 40px;
}
.line {
  background: #bababa;
  height: 100%;
  width: 1px;
}

.header-links-lang-container {
  display: flex;
  align-items: center;
}

.header-links a {
  text-decoration: none;
  padding: 0 10px;
  color: #545454;
  font-family: Avenir;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}

.header-links a:hover {
  color: #ec1943;
}

.current-language-flag img {
  height: 18px;
  width: 18px;
  margin-right: 5px;
}

.language-flag img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.language-selector {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.language-dropdown a {
  text-decoration: none;
  color: #545454;
}
.current-langauge {
  display: flex;
  margin-right: 2px;
  align-items: baseline;
}

.language-dropdown {
  display: none;
  position: absolute;
  right: 0;
  top: 40px;
}

.current-lang-code {
  text-transform: uppercase;
  font-family: Avenir;
  font-size: 18px;
  color: #545454;
  transform: translateY(-3px);
}
.arrow {
  font-size: 17px;
  font-weight: 800;
  transition: 0.2s;
  transform: translateY(-3px) rotate(180deg);
}

.language {
  display: flex;
  align-items: center;
  border-bottom: 0.5px dotted #d8d8d8;
  background-color: rgba(255, 255, 255, 0.99);
  font-family: Avenir;
  font-size: 18px;
  padding: 10px 25px;
  cursor: pointer;
}

.language:hover {
  color: #ec1943;
}

.language-selector-container {
  position: relative;
  margin-left: 30px;
}

.lang {
  transform: translateY(-2px);
}

/* PRODUCT */

.product {
  max-width: 74.7em;
  border: solid 0.08em #e6e6e6;
  margin: 2.5em auto;
  position: relative;
}
.product-title {
  font-family: Graphik;
  font-size: 1.7em;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.32;
  letter-spacing: normal;
  text-align: left;
  color: #545454;
  margin: 0;
}
.product-tags {
  font-family: Graphik;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: left;
  color: #545454;
  margin-top: 1.2em;
}
.product-offer {
  font-family: Graphik;
  font-size: 1.1em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #593be5;
  margin-top: 1.2em;
  text-decoration: underline;
  cursor: pointer;
}
.product-header {
  display: grid;
  grid-template-columns: 59em 15.5em;
  background-color: #f5f5f5;
  align-items: center;
}
.product-header-left {
  padding: 1.8em;
}
.product-header-right {
  border-left: solid 0.08em #e6e6e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 1.8em 0em; */
  height: 100%;
}
.product-header-right a {
  text-decoration: none;
}
.product-desc ul {
  padding: 0px;
}
.product-desc p {
  margin: 0;
  line-height: 1.95em;
  margin-left: -20px;
}
.book-now-cta {
  width: 10.1em;
  height: 3.1em;
  background-image: linear-gradient(73deg, #fd6280, #ec1943);
  display: flex;
  justify-content: center;
  align-items: center;
}
.book-now-text {
  font-family: Graphik;
  font-size: 1em;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: normal;
  color: #ffffff;
  text-transform: uppercase;
}
.product-price {
  font-family: Graphik;
  font-size: 2.2em;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #545454;
}
.earliest-availability {
  font-size: 0.875em;
  font-family: Graphik;
  margin-top: -15px;
  margin-bottom: 10px;
  line-height: 1.24;
}
.earliest-availability span {
  color: #ec1943;
  font-weight: 500;
}
.earliest-availability.left {
  margin: 0;
  padding-top: 15px;
  position: relative;
}
.limited-offer-text {
  font-weight: 500;
}
.product-offer img {
  display: none !important;
}
.product-desc {
  font-family: Graphik;
  font-size: 1.1em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #545454;
  padding-left: 2.9em;
  padding-right: 4.3em;
}
.product-desc ul li {
  text-align: justify;
  line-height: 1.95em;
}
.product-header-mobile {
  display: none;
}
.product-offer-mobile {
  display: none;
}
.book-now-mobile-cta {
  display: none;
}
.product-tags-mobile {
  display: none;
}
.read-more {
  padding-left: 2.9em;
  width: 80%;
  text-decoration: underline;
  line-height: 1.2;
  display: block;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
  cursor: pointer;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  font-family: Graphik;
  font-size: 1.1em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #545454;
  margin-top: 0.6em;
}
.product-desc {
  height: 8.125em;
  overflow: hidden;
  /*margin-bottom: 1em;*/
}
ul {
  margin: 0;
}
/* .product-tag {
 margin-right: 0.2em;
 margin-left: 0.2em;
} */
.product-offer img {
  transform: translateY(12%);
}
.desc-wrapper {
  padding: 1.8em 0em;
}

@media (max-width: 768px) {
  .header-logo-wrapper {
    display: grid;
    grid-auto-flow: column;
    width: 200px;
    margin-left: 5%;
  }
  .header-logo-wrapper img {
    height: 30px;
  }
  .product-desc p {
    font-size: 0.8em;
    line-height: 1.7em;
    margin-left: -20px;
  }
  .header-logo img {
    margin-left: 10px;
  }
  .header-links {
    margin: 0px;
  }
  .product {
    margin: 0.6em;
    position: relative;
    padding-bottom: 4em;
  }
  .product.product__with-date {
    padding-bottom: 5em;
  }
  .product-header {
    grid-template-columns: 13.4fr 5.1fr;
    padding: 1.2em;
    margin-bottom: 0px;
  }
  .product-offer {
    display: none;
  }
  .product-header-left {
    padding: 0px;
    /* display: contents; */
  }
  .product-header-right {
    border: none;
    align-items: flex-end;
    padding: 0;
    display: contents;
  }
  .product-title {
    font-size: 1.2em;
    grid-row: 1;
  }
  .product-price {
    font-size: 1.8em;
    text-align: end;
  }

  .earliest-availability.bottom {
    margin-bottom: 0;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 1em;
    position: absolute;
  }

  .product-offer-mobile {
    display: flex;
    justify-content: space-between;
    padding: 1.2em;
    align-items: center;
    padding-bottom: 1.1em;
    border-bottom: solid 0.08em #e6e6e6;
  }
  .product-offer-text {
    line-height: 1.3;
  }
  .limited-offer-text-mobile {
    font-family: Graphik;
    font-size: 0.9em;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #9382e3;
    display: block;
  }
  .get-a-walking-text-mobile {
    font-family: Graphik;
    font-size: 0.8em;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #9382e3;
  }
  .gift-image img {
    width: 2.5em;
    height: 1.9em;
    transform: scale(1.1);
  }
  .product-offer-mobile-left {
    display: flex;
    align-items: center;
    width: 90%;
  }
  .gift-image {
    margin-right: 0.8em;
  }
  .product-offer-arrow img {
    width: 0.5em;
    height: 1em;
    transform: scale(1.3);
  }
  .desc-wrapper {
    padding: 1.5em 0em;
  }
  .product-desc {
    padding-left: 2.3em;
    padding-right: 1.3em;
  }
  .product-desc ul li {
    font-size: 0.8em;
    line-height: 1.7em;
    text-align: left;
    color: #545454;
  }
  .book-now-cta {
    width: 316px;
    height: 45px;
    background-image: linear-gradient(82deg, #fd6280, #ec1943);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 1.5em;
    margin-bottom: 0.6em;
    left: calc(50% - 158px);
    position: absolute;
    bottom: 0.4em;
  }
  .book-now-text {
    font-family: Graphik;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
  }

  .book-now-cta.book-now-cta__with-date {
    margin-bottom: 0;
    bottom: 2.4em;
  }
  .product-tags {
    font-family: Graphik;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #545454;
    margin-top: 1.2em;
    font-size: 0.8em;
    margin-bottom: 0em;
    grid-column: 1/3;
    display: inline-block;
    grid-row: 2;
  }
  .read-more {
    font-size: 0.875em;
    margin-top: 1em;
  }
  .product-desc {
    height: 8.125em;
  }
  .product-desc ul li:last-child {
    margin-bottom: 0;
  }
  ul {
    margin: 0 !important;
  }
}

/* Select Your Tickets */

.select-wrapper {
  max-width: 1200px;
  margin: 40px auto;
}
.select-text {
  font-size: 35px;
  font-weight: 500;
  font-family: 'Graphik', 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  color: #000000;
  border-left: 3px solid #669dde;
  padding: 5px 20px 5px;
}

.select-text .sub-select-text {
  font-family: Graphik;
  font-size: 1.1em !important;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #545454;
}

.divider {
  display: none;
  width: 100px;
  border: 2px solid #669dde;
}

.price-container {
  display: grid;
  grid-auto-flow: column;
  align-items: flex-end;
  grid-column-gap: 10px;
  margin-bottom: 20px;
}
.product-scratch-price {
  font-size: 22px;
  text-decoration: line-through;
  font-weight: 500;
  color: #545454;
  font-family: Avenir;
}

@media (max-width: 768px) {
  .price-container {
    text-align: right;
    display: block;
    margin-bottom: 0px;
  }
  .select-wrapper {
    margin: 16.8px 10px;
  }
  .select-text {
    font-size: 24px;
    margin: 25px 0;
  }
  .divider {
    width: 60px;
  }
  .product-offer-text p {
    margin: 0;
    font-size: 15px;
    font-weight: 600;
    font-family: Graphik;
  }
  .product-offer-text p > span {
    display: block;
    font-size: 12px;
    font-weight: 300;
    font-family: Avenir;
    line-height: 1.25;
  }
  .product-offer-text {
    color: #593be5;
  }
  .product-scratch-price {
    font-size: 1em;
    margin-bottom: 5px;
  }
}

/* Banners  */

.mb-carousel {
  display: grid;
  height: 55vh;
  width: 100%;
  position: relative;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.16);
  font-family: 'Graphik', 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  margin-top: 80px;
}

.mb-carousel.boxed {
  height: 60vh;
  max-width: 1200px;
  width: 100%;
  margin: auto;
  margin-top: 80px;
}

.mb-carousel .mb-slide {
  display: none;
}

.mb-carousel .mb-slide.active-mb-slide,
.mb-carousel .mb-slide.prev-slide {
  display: block;
  height: inherit;
}
.fade-in {
  animation: fade 0.3s ease forwards;
}
.fade-out {
  animation: fade 0.3s ease backwards;
}

.mb-carousel .mb-slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 20% 10%;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.indicators {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-gap: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
}

.indicator {
  height: 10px;
  width: 10px;
  border: 2px solid #fff;
  border-radius: 100%;
  cursor: pointer;
}

.indicator.active {
  background: #fff;
}

.mb-captions {
  z-index: 0;
  height: 100%;
  width: 100%;
  display: grid;
  place-content: center;
  text-align: center;
  background: #0000004a;
}

.mb-captions .caption {
  font-size: 22px;
  color: #fff;
  line-height: 1.5;
}

.mb-captions,
.mb-slide.active-mb-slide,
.mb-carousel .mb-slide.prev-slide {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.mb-captions .mb-caption {
  display: grid;
  grid-gap: 15px;
}

.mb-captions .mb-cta {
  background-color: rgba(0, 0, 0, 0.35);
  border: solid white 1px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1.2px;
  /* -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; */
  cursor: pointer;
  padding: 15px 40px;
  justify-self: center;
  color: #fff;
  font-size: 16px;
}
.mb-captions .mb-cta:hover {
  background: rgba(0, 0, 0, 0.5);
}

.mb-caption a {
  text-decoration: none;
}

/* FOOTER */

footer {
  background: #3a3a3a;
  color: #fff;
}

.footer-wrap {
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(6, auto);
  justify-content: space-between;
  align-items: center;
}

.footer-wrap .support ul li {
  display: grid;
  align-items: center;
  justify-content: flex-end;
  grid-template-columns: auto auto;
  grid-gap: 5px;
}

.support ul {
  display: flex;
}

footer .wrapper {
  max-width: 1160px;
  margin: auto;
}

.product-offer strong {
  font-weight: 600;
}

.footer-wrap.wrapper a {
  color: #fff;
  display: inherit;
}

footer .support li span {
  font-size: 16px;
}

footer .support ul {
  display: grid;
  grid-template-columns: auto auto;
  grid-column: auto;
  text-align: right;
  align-items: center;
  grid-gap: 60px;
}

footer .support {
  grid-column: 10 / 12;
  justify-self: right;
}

footer .support ul li {
  margin: 0;
}

footer hr.white {
  background: #fff;
  opacity: 0.4;
}

.f-logo img {
  width: 300px;
  height: auto;
  padding: 60px 0;
}

.f-logo {
  display: grid;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .support ul li {
    grid-gap: 4vh;
  }

  footer .support li span {
    font-size: 14px;
  }

  .terms {
    grid-row: 2;
    grid-column: 1 / 2;
  }

  .support ul li {
    margin-right: 0;
  }

  .footer-wrap.wrapper {
    padding: 50px 15px;
    grid-template-columns: auto auto;
    grid-row-gap: 15px;
    font-weight: 500;
  }

  footer a {
    color: #545454;
  }

  footer .support ul {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: auto;
  }

  footer .support li {
    display: grid;
    grid-template-columns: 12px auto;
    grid-gap: 5px;
  }

  footer .support a {
    display: grid;
  }

  footer .support {
    grid-row: 1;
    grid-column: 2 / 3;
    justify-self: right;
  }

  .f-logo img {
    width: 130px !important;
    height: auto;
    padding: 30px !important;
  }
}

.hidden {
  display: none !important;
}

.selected-tab {
  color: #ec1943 !important;
}

.language-dropdown-active {
  display: block;
}

.arrow-active {
  transform: translateY(3px) rotate(0deg);
}

.popupv2-wrap.pixel-fix * {
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
}
.swiper-container {
  width: 100%;
  height: max-content;
  height: 692px;
  height: 100%;
}

.swiper-pagination.swiper-pagination-bullets {
  bottom: 18px;
}

span.swiper-pagination-bullet {
  background: #ffffffa1;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #fff !important;
}
.carousel {
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.popupv2-wrap {
  display: grid;
  grid-template-columns: 42.5% 57.5%;
  max-width: 1164px;
  /* margin: auto; */
  /*  width: 1164px;*/
  /*height:692px;*/
  /* height: 84%;
width: 80%; */
  grid-row: 1;
  grid-column: 1 / 2;
  /*background: #fff;*/
}

.popupv2-cont * {
  /*box-sizing: content-box;*/
}

.popupv2-cont {
  min-height: 100%;
  min-width: 100%;
  height: 100%;
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr;
  z-index: 9999;
}

.popupv2-cont.active {
  display: grid;
}

.carousel img {
  width: 100%;
  height: inherit;
  object-fit: cover;
}

.mask {
  grid-row: 1;
  grid-column: 1 / 2;
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  opacity: 0.4;
  z-index: -1;
}

.popupv2-contents {
  padding: 80px 70px;
  padding: 11.9% 10.4%;
  padding: 70px;
  background: #fff;
  display: grid;
  align-content: center;
  position: relative;
}

.popupv2-contents .close {
  position: absolute;
  top: 25px;
  right: 25px;
  height: 26px;
  width: 26px;
  filter: invert(0.5);
  cursor: pointer;
}
.popupv2-contents .close img {
  height: 100%;
  width: 100%;
  display: block;
}

.sub-title {
  font-family: Graphik;
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-bottom: 12px;
}

.title {
  font-family: Graphik;
  font-size: 26px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.scratch-price {
  opacity: 0.6;
  text-decoration: line-through;
  font-family: Graphik;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #545454;
  margin-bottom: 8px;
}

.price {
  font-family: Graphik;
  font-size: 28px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.32;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-bottom: 24px;
}

.popupv2-list li {
  font-family: Avenir;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #545454;
  margin-bottom: 8px;
}

.popupv2-list {
  margin-bottom: 32px;
}

.popupv2-list ul {
  list-style: disc;
  padding-left: 20px;
}

.popupv2-cta {
  background-color: #ec1943;
  font-family: Graphik;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding: 16px 100px;
  justify-self: left;
  cursor: pointer;
  text-transform: uppercase;
}

.popupv2-cont .contents {
  display: contents;
}

body.popupv2-active {
  overflow: hidden;
}

@media (max-width: 768px) {
  .popupv2-wrap {
    width: 100%;
  }

  .popupv2-cont {
    background: #fff;
  }
  .popupv2-cont.active {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    /* height: unset; */
  }

  .swiper-container {
    height: 100%;
  }

  .mask {
    display: none;
  }
  .swiper-pagination.swiper-pagination-bullets {
    bottom: 5px;
  }

  .popupv2-wrap {
    grid-template-columns: 1fr;
    grid-template-rows: 30% 70%;
    grid-template-rows: 220px 1fr;
    align-items: start;
    width: 100vw;
  }
  .popupv2-wrap .contents {
    display: grid;
    /*height: calc(100vh - 220px - 50px);*/
    /*overflow: scroll;*/
    /*-webkit-overflow-scrolling: touch;*/
    padding: 30px 24px;
    padding-top: 0;
  }
  .popupv2-wrap .contents::before {
    content: '';
    height: 30px;
    display: block;
  }
  .popupv2-contents {
    padding: 0;
    position: unset;
    max-width: unset;
    grid-template-rows: 1fr 50px;
  }

  .popupv2-contents .close {
    top: 0;
    right: 0;
    padding: 16px;
    background: #000;
    filter: unset;
    height: auto;
    width: auto;
    z-index: 99;
    position: fixed;
    display: flex;
  }
  .popupv2-contents .close img {
    filter: invert(0);
  }

  .carousel img {
    width: 100%;
  }

  .sub-title {
    margin-bottom: 10px;
    font-size: 18px;
  }

  .title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 12px;
  }

  .scratch-price {
    font-size: 18px;
    margin-bottom: 8px;
  }

  .price {
    font-size: 17px;
  }

  .popupv2-list li {
    font-size: 16px;
    line-height: 1.6;
  }

  .popupv2-cta {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 14px 0;
    font-size: 18px;
  }
  .popupv2-list {
    margin-bottom: 40px;
  }

  .hamburger {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 22px;
    font-weight: 400;
    font-family: 'Graphik', 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial,
      sans-serif;
    color: #ec1943;
    display: inline-block;
    cursor: pointer;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: #000;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 50px;
  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 60.25%,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    background: linear-gradient(
      to left,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 60.25%,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  .header-links-lang-container {
    margin-right: 20px;
  }
  .dropdown {
    position: fixed;
    right: 3%;
    top: 68px;
    box-shadow: 0px 10px 12px -4px rgba(33, 33, 33, 0.15);
    z-index: 3000;
    display: none;
  }

  .show {
    display: block;
  }

  .dropdown a {
    background-color: #ffffff;
    display: block;
    padding: 10px 25px;
    background-color: rgba(255, 255, 255, 0.99);
    text-align: center;
    border-bottom: 0.5px dotted #d8d8d8;
    font-family: Avenir, 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial,
      sans-serif;
    z-index: 999999;
  }

  .dropdown a:last-child {
    border-bottom: none;
  }

  .dropdown .selected-tab {
    background-color: #ec1943;
    color: #ffffff;
    border-bottom: none;
  }

  .dropdown a:hover {
    background-color: #e0e0e0;
  }

  .dropdown .selected-tab:hover {
    background-color: #ec1943;
  }
}

.product-tags .product-tag:last-child .bullet {
  display: none;
}

.popupv2-wrap.pixel-fix * {
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
}
.swiper-container {
  width: 100%;
  height: max-content;
  height: 692px;
  height: 100%;
}

.swiper-pagination.swiper-pagination-bullets {
  bottom: 18px;
}

span.swiper-pagination-bullet {
  background: #ffffffa1;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #fff !important;
}
.carousel {
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.popupv2-wrap {
  display: grid;
  grid-template-columns: 42.5% 57.5%;
  max-width: 900px;
  /* margin: auto; */
  /*  width: 1164px;*/
  /* height: 84%;
width: 80%; */
  grid-row: 1;
  grid-column: 1 / 2;
  /*background: #fff;*/
}

.popupv2-cont * {
  /*box-sizing: content-box;*/
}

.popupv2-cont {
  min-height: 100%;
  min-width: 100%;
  height: 100%;
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr;
  z-index: 9999;
}

.popupv2-cont.active {
  display: grid;
}

.carousel img {
  width: 100%;
  height: inherit;
  object-fit: cover;
}

.mask {
  grid-row: 1;
  grid-column: 1 / 2;
  background: #000;
  height: 100%;
  width: 100%;
  opacity: 0.4;
  z-index: -1;
}

.popupv2-contents {
  padding: 80px 70px;
  padding: 11.9% 10.4%;
  padding: 70px;
  background: #fff;
  display: grid;
  align-content: center;
  position: relative;
}

.popupv2-contents .close {
  position: absolute;
  top: 25px;
  right: 25px;
  height: 26px;
  width: 26px;
  filter: invert(0.5);
  cursor: pointer;
}
.popupv2-contents .close img {
  height: 100%;
  width: 100%;
  display: block;
}

.sub-title {
  font-family: Graphik;
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-bottom: 12px;
}

.title {
  font-family: Graphik;
  font-size: 26px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-bottom: 16px;
}

.scratch-price {
  opacity: 0.6;
  text-decoration: line-through;
  font-family: Graphik;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #545454;
  margin-bottom: 8px;
}

.price {
  font-family: Graphik;
  font-size: 28px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.32;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-bottom: 24px;
}

.popupv2-list li {
  font-family: Avenir;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #545454;
  margin-bottom: 8px;
}

.popupv2-list {
  margin-bottom: 32px;
}

.popupv2-list ul {
  list-style: disc;
  padding-left: 20px;
}

.popupv2-cta {
  background-color: #ec1943;
  font-family: Graphik;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding: 16px 100px;
  justify-self: left;
  cursor: pointer;
  text-transform: uppercase;
}

.popupv2-cont .contents {
  display: contents;
}

body.popupv2-active {
  overflow: hidden;
}

@media (max-width: 768px) {
  .popupv2-wrap {
    width: 100%;
  }
  .mb-carousel.boxed {
    margin-top: 68px;
  }

  .popupv2-cont {
    background: #fff;
  }
  .popupv2-cont.active {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    /* height: unset; */
  }
  .swiper-container {
    height: 100%;
  }
  .mask {
    display: none;
  }
  .swiper-pagination.swiper-pagination-bullets {
    bottom: 5px;
  }

  .popupv2-wrap {
    grid-template-columns: 1fr;
    grid-template-rows: 30% 70%;
    grid-template-rows: 220px 1fr;
    align-items: start;
    width: 100vw;
    align-self: start;
  }
  .popupv2-wrap .contents {
    display: grid;
    /*height: calc(100vh - 220px - 50px);*/
    /*overflow: scroll;*/
    /*-webkit-overflow-scrolling: touch;*/
    padding: 30px 24px;
    padding-top: 0;
  }
  .popupv2-wrap .contents::before {
    content: '';
    height: 30px;
    display: block;
  }
  .popupv2-contents {
    padding: 0;
    position: unset;
    max-width: unset;
    grid-template-rows: 1fr 50px;
  }

  .popupv2-contents .close {
    top: 0;
    right: 0;
    padding: 16px;
    background: #000;
    filter: unset;
    height: auto;
    width: auto;
    z-index: 99;
    position: fixed;
    display: flex;
  }
  .popupv2-contents .close img {
    filter: invert(0);
  }

  .carousel img {
    width: 100%;
    height: 100%;
  }

  .sub-title {
    margin-bottom: 10px;
    font-size: 18px;
  }

  .title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 12px;
  }

  .scratch-price {
    font-size: 18px;
    margin-bottom: 8px;
  }

  .price {
    font-size: 17px;
  }

  .popupv2-list li {
    font-size: 16px;
    line-height: 1.6;
  }

  .popupv2-cta {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 14px 0;
    font-size: 18px;
  }
  .popupv2-list {
    margin-bottom: 40px;
  }
}

/* FOOTER */

.footer {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

.line-and-disclaimer {
  width: 100%;
}

.footer-logo img {
  width: 180px;
}

.footer-line {
  opacity: 0.4;
  color: #fff;
  margin: 0;
}

.footer-logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}
.disclaimer {
  color: rgba(255, 255, 255, 0.8);
  padding: 10px 150px;
  text-align: center;
}
.disclaimer-text {
  font-size: 12px;
  text-align: center;
  font-family: Avenir;
}
.terms-tab {
  text-align: left;
  font-size: 12px;
  margin-left: 5px;
  text-decoration: underline;
  cursor: pointer;
  font-family: Avenir;
}

@media (max-width: 768px) {
  .disclaimer {
    padding: 10px 10px;
  }
}

/* GROUP BOOKING */
.hide-desk {
  display: none;
}
.popup-wrap * {
  box-sizing: content-box;
  font-weight: 300;
}
.popup-wrapper .popup-title {
  padding: 20px;
  text-align: center;
  background: #00529f;
  color: #fff;
  font-size: 22px;
  line-height: 1.5;
  font-weight: 400;
  border-bottom: 1px solid #54545452;
  font-weight: 500;
  font-family: Graphik;
}
.popup-wrapper img.close-group {
  /* filter: invert(1); */
  width: 18px;
  cursor: pointer;
  height: 18px;
  position: absolute;
  top: 30px;
  right: 20px;
  transform: translate3d(-50%, -50%, 0);
  -webkit-font-smoothing: antialiased;
}
.popup-wrapper .form-wrapper {
  display: grid;
  grid-column-gap: 20px;
  padding: 0 20px;
  grid-template-columns: 1fr 0 0.5fr;
  box-sizing: content-box;
}
.popup-wrapper .form-wrapper:after {
  border-right: 1px dashed #54545452;
  content: '';
  grid-row: 1 / 3;
  grid-column: 2;
}
.popup-wrapper .left-form {
  grid-row: 1 / 3;
}
.popup-wrapper button.form-button {
  grid-column: 1 / 4;
  justify-self: center;
  margin: 15px;
  padding: 10px 60px;
}
.form-button:hover {
  background: #00529f;
  color: #fff;
}
.popup-wrapper button.form-button:focus {
  outline: none;
}
.form-button {
  padding: 15px 75px;
  border: solid 1px #00529f;
  font-weight: 500;
  color: #00529f;
  border-radius: 4px;
  cursor: pointer;
  background: none;
  transition: ease 0.2s;
  font-size: 14px;
  text-transform: uppercase;
}
button.form-button.disabled {
  border: solid 1px #ebebeb;
  color: #fff;
  background-color: #ebebeb;
}
.css-1okebmr-indicatorSeparator {
  display: none;
}
.form-wrapper .react-select__control,
.date-picker {
  position: relative;
  /* box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1); */
  border: 1px solid #ebebeb;
  cursor: pointer;
  outline: none;
}
.form-wrapper .react-select__value-container {
  padding: 17px 8px;
}
.form-wrapper .react-select__control--is-focused,
.form-wrapper .react-select__control:hover {
  border: 1px solid #ebebeb !important;
  outline: none !important;
  box-shadow: 0 0 0 0 transparent !important;
}
.form .react-select__placeholder {
  font-size: 1em;
  font-family: 'Graphik';
  width: 100%;
}
form.form {
  display: grid;
  grid-row-gap: 30px;
  margin: 30px 0;
}
.form-wrapper .react-select__menu {
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
  border-radius: 0;
  margin: 0;
}
.form-wrapper .react-select__option {
  display: block;
  padding: 13px;
  background-color: #fff;
  font-weight: 400;
  margin-bottom: 0;
  cursor: pointer;
  color: #333333;
  line-height: 1.4;
  font-size: 1em;
  font-family: 'Graphik';
  text-transform: capitalize;
}
.form-wrapper .react-select__option:hover,
.form-wrapper .react-select__option--is-selected {
  color: #546c84;
  background-color: #fbfbfb;
}
.form-wrapper .react-select__single-value {
  font-size: 1em;
  font-family: 'Graphik';
}
.form-wrapper .split {
  display: grid;
  grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  grid-gap: 20px;
}
.input-box {
  border: solid 1px #ebebeb;
  width: calc(100% - 42px);
  font-size: 1em;
  padding: 15px 20px;
  background-color: white;
}
.input-box:focus {
  outline: none;
}

.react-datepicker-wrapper {
  width: 100%;
}
.react-datepicker__input-container {
  width: 100%;
}
.react-datepicker__input-container input {
  border: none;
  outline: none;
  padding: 17px 8px;
  width: calc(100% - 16px);
  cursor: pointer;
  font-size: 1em;
  font-family: 'Graphik';
}
.react-datepicker__input-container input:focus {
  border-color: #333;
}
.form .react-datepicker__triangle {
  display: none;
}
/* .form .react-datepicker__navigation--previous {
 left: 10px;
 border-left: 3px solid #ccc;
 border-bottom: 3px solid #ccc;
 border-top-color: transparent;
 border-right-color: transparent;
 transform: rotate(45deg);
 background-color: #FFF;
 border-radius: 0;
 padding: 4px;
} */
.form .react-datepicker {
  border-radius: 0;
  background-color: #fff;
  border: 1px solid #cccccc;
  width: max-content;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 20px;
}
/* .form .react-datepicker__navigation--next {
 left: 10px;
 border-right: 3px solid #ccc;
 border-top: 3px solid #ccc;
 border-bottom-color: transparent;
 border-left-color: transparent;
 transform: rotate(45deg);
 background-color: #FFF;
 border-radius: 0;
 padding: 4px;
} */
.form .react-datepicker__triangle {
  display: none;
}
.form .react-datepicker__header {
  background-color: #fff;
}

.form .react-datepicker__day,
.form .react-datepicker__day-name {
  background: transparent;
  border: none;
  text-align: center;
  padding: 0.7em;
  margin: 0;
  font-weight: normal;
  color: #4d4d4d;
  font-size: 14px;
}
.form .react-datepicker__day--disabled {
  color: #cbcbcb;
}
.form .react-datepicker__day--selected {
  background: #f1f1f1;
  border-radius: 4px;
}
.form img.input-icon {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}
.hide-mobi a {
  color: #fff;
}
.popup-title small {
  font-weight: 300;
}
.popup-title small {
  font-weight: 300;
}
@media (max-width: 768px) {
  .ReactModal__Overlay--after-open {
    overflow: scroll;
  }
  .ReactModal__Content--after-open {
    width: 100% !important;
    margin: 0 !important;
    left: 0 !important;
  }
  .popup-wrapper {
    width: 100%;
  }
  .popup-wrapper .popup-title {
    text-align: left;
    font-size: 18px;
  }
  .hide-mobi {
    display: none !important;
  }
  .hide-desk {
    display: block;
  }
  .group-text {
    padding: 20px;
    display: block;
    text-align: center;
    font-family: Graphik;
    font-weight: 300;
  }
  .popup-wrapper .form-wrapper {
    grid-template-columns: 1fr;
  }
  .popup-wrapper .form-wrapper .left-form {
    grid-row: 2;
  }
  .popup-wrapper .form-wrapper .left-right {
    grid-row: 1;
  }
  .popup-wrapper button.form-button {
    grid-column: 1 / 1;
    /* grid-row: 3; */
    display: flex;
    margin: 50px auto 0;
  }
  .popup-wrapper .form-wrapper:after {
    display: none;
  }
  .form-wrapper .split {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-row-gap: 30px;
  }
  .form.form {
    margin: 30px 0 0;
  }
  .form-wrapper {
    margin-bottom: 80px;
  }
  .react-tel-input .country-list {
    right: 0 !important;
    left: -20px !important;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16) !important;
  }
}
.form-wrapper .react-select__menu {
  z-index: 99999999 !important;
}
.success.wrapx .img {
  margin: 50px auto;
}
.success.wrapx {
  margin: 30px;
  text-align: center;
}
.success .img {
  height: 70px;
  width: 70px;
  margin: auto;
}

.success .main-area {
  grid-row-gap: 30px;
}
.success li {
  list-style: none;
}
.success li a {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
}
.success .call img {
  height: auto;
  width: 15px;
}
.success .call span {
  font-family: Graphik;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.06;
  letter-spacing: normal;
  text-align: left;
  color: #00529f;
}
.info-text {
  font-size: 1em;
  font-family: Graphik;
  line-height: 2.06;
}
.error {
  font-size: 0.625em;
  color: #ec1943;
  padding-top: 6px;
  font-family: Graphik;
  position: absolute;
}

.sub-heading {
  max-width: 1200px;
  margin: auto;
  font-weight: 600;
  font-size: 20px;
  color: #545454;
  margin-top: 20px;
  margin-bottom: 20px;
}

.text {
  font-family: Avenir;
  max-width: 1200px;
  margin: auto;
  line-height: 1.2;
  color: #545454;
}

.terms-container {
  margin: 10px;
  margin-top: 100px;
  max-width: 1200px;
  margin: 100px auto 10px;
}
.terms-container div {
  font-family: Graphik;
  line-height: 1.5;
}

.language-dropdown {
  box-shadow: 0px 10px 12px -4px rgba(33, 33, 33, 0.15);
}

.caption h1 {
  font-size: 23px;
  font-family: Graphik;
  font-weight: 400;
}

@media (max-width: 768px) {
  .caption h1 {
    font-size: 16px !important;
  }
  .language {
    font-size: 16px;
    padding: 10px 20px;
  }
}

.header-wrapper {
  height: 68px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 0;
  right: 0;
  z-index: 1;
  max-width: 1200px;
  margin: auto;
}

.language-selector {
  line-height: 0;
}

.current-language-flag {
  line-height: 0;
}
.subpage-container {
  max-width: 1190px;
  margin: auto;
  margin-bottom: 40px;
}

.subpage-container .slice-block h2 {
  font-weight: 500;
  font-size: 30px;
  color: #080808;
  font-family: 'Graphik', 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  margin: 60px 0 40px;
  position: relative;
  line-height: 30px;
  color: #545454;
}
.subpage-container .slice-block h3 {
  font-weight: 500;
  font-size: 1.375rem;
  color: #080808;
  font-family: 'Graphik', 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  position: relative;
  line-height: 30px;
  color: #545454;
}

.subpage-container .slice-block h2::after {
  color: #ec1943;
  width: 75px;
  border-top: solid 3px;
  margin: 0;
  position: absolute;
  bottom: -20px;
  left: 0;
  content: '';
}

.subpage-container .slice-block p {
  color: #545454;
  font-family: Avenir;
  font-size: 18px;
  margin: auto;
  margin-bottom: auto;
  text-align: justify;
  margin-bottom: 30px;
  line-height: 30px;
}
.subpage-container .product .product-left p {
  margin: 0;
}
.subpage-container .product .product-left {
  width: 75%;
  display: grid;
  grid-row-gap: 10px;
}
@media (max-width: 768px) {
  .subpage-container .slice-block h2 {
    font-size: 20px;
    margin: 40px 0;
  }
  .subpage-container .product .product-left {
    width: 100%;
  }
  .subpage-container .slice-block p,
  .subpage-container .slice-block .more-reads-text-text {
    font-size: 16px;
  }
  .subpage-container .slice-block .feature-box__text-wrapper h3,
  .subpage-container .slice-block h3,
  .subpage-container .slice-block .more-reads-text-heading,
  .subpage-container .products .product .product-left .product-heading {
    font-size: 18px;
  }
}

.navigation-bar {
  display: flex;
  justify-content: space-between;
  margin: auto;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 40px;
}
.navigation-bar.center-align-tabs {
  justify-content: space-around;
}
.navigation-tab {
  font-weight: 600;
  font-family: Graphik;
  color: #545454;
  font-size: 18px;
  padding: 20px;
  margin: 0 40px;
}
.subpage-container a {
  text-decoration: none;
  color: #ec1943;
}
.subpage-container .slice-block {
  margin: 40px 0;
}
@media (max-width: 768px) {
  .subpage-container {
    margin: 0 10px 40px;
  }
  .subpage-container .slice-block {
    margin: 0;
  }
}

.selected-nav-tab {
  border-bottom: 3px solid #ec1943;
  border-radius: 1px;
  color: #ec1943;
}
@media (max-width: 768px) {
  .navigation-bar {
    flex-direction: column;
    align-items: center;
    border: none;
  }
  .navigation-bar a {
    width: 100% !important;
    text-align: center;
  }
  .navigation-tab {
    border-bottom: 1px solid #ebebeb;
    font-size: 16px;
    padding: 15px;
  }
  .selected-nav-tab {
    border-bottom: 2px solid #ec1943;
  }
  .content-container {
    margin-left: 15px !important;
    margin-right: 15px !important;
  }
}
.more-reads-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 40px;
}
.more-reads-image img {
  height: 250px;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
}
.more-reads {
  border: 1px solid #ebebeb;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.18);
  height: 100%;
}
.more-reads-text-heading {
  display: block;
  font-family: Graphik;
  font-weight: 600;
  font-size: 18px;
  color: #080808;
  line-height: 1.5;
}
.more-reads-text {
  padding: 0px 20px;
  padding-bottom: 15px;
  padding-top: 15px;
  line-height: 1.5;
}
.more-reads-text-text {
  display: block;
  font-family: Avenir;
  font-size: 16px;
  line-height: 1.5;
  color: #545454;
}
@media (max-width: 768px) {
  .more-reads {
    margin-bottom: 20px;
  }
  .more-reads-section {
    display: block;
  }
}
.subpage-container .product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #ebebeb;
  /*box-shadow: 0 1px 2px rgba(0,0,0,.18);*/
  margin-bottom: 40px;
  border-radius: 5px;
  padding: 20px 40px;
}
.subpage-container .products:last-child {
  margin-bottom: 70px;
}
.subpage-container .products .product .product-left .product-heading {
  color: #545454;
  margin: 0;
}
.more-reads-text-heading {
  color: #545454;
}
.product-heading {
  font-family: Graphik;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 20px;
  color: #080808;
  line-height: 1.4;
}
.product-offer {
  font-family: Avenir;
  font-size: 18px;
  margin-bottom: 20px;
}
.book-now {
  border: 2px solid #ec1943;
  border-radius: 5px;
  color: #ec1943;
  padding: 15px 20px;
  font-family: Graphik;
  font-size: 18px;
  font-weight: 500;
}
@media (max-width: 768px) {
  .product-right {
    margin-bottom: 40px;
    text-align: center;
  }
  .subpage-container .product {
    display: block;
    padding: 0 20px;
  }
  .book-now {
    width: 200px;
    padding: 10px 0px;
    font-size: 20px;
  }
  .product-right {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  .product-heading {
    font-size: 20px;
  }
  .product-offer {
    font-size: 16px;
  }
}
.content-page-container {
  max-width: 1190px;
  margin: auto;
}
.banner {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  overflow-x: hidden;
}
.banner img {
  width: 100vw;
  height: 500px;
  filter: brightness(0.7);
  object-fit: cover;
}
.banner-text {
  position: absolute;
  top: 50%;
  color: white;
  font-family: Graphik;
}
.banner-text h1 {
  font-weight: 600;
  font-size: 2rem;
}
@media (max-width: 768px) {
  .banner img {
    height: 300px;
  }
  .banner-text {
    text-align: center;
    top: 42%;
  }
  .banner-text h1 {
    font-weight: 600;
    font-size: 1.5rem;
  }
}
.rich-text-box-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}
.rich-text-box {
  border: 1px solid #ebebeb;
  padding: 30px;
}
.rich-text-box *,
.feature-box * {
  line-height: 30px;
}
.rich-text-box h3,
.feature-box h3 {
  font-size: 1.375rem;
}
@media (max-width: 768px) {
  .rich-text-box-wrapper {
    display: grid;
    grid-template-columns: unset;
    grid-template-rows: 1fr 1fr;
    grid-gap: 40px;
  }
}
.subpage-container h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Graphik';
  color: #545454;
  font-weight: 500;
}
.feature-box-wrapper {
  display: grid;
  grid-row-gap: 40px;
}
.feature-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid #ebebeb;
  height: 100%;
  grid-column-gap: 40px;
}
.feature-box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.feature-box__text-wrapper {
  padding-right: 40px;
}
.subpage-container .slice-block .feature-box__text-wrapper h3 {
  margin-top: 20px;
}
@media (max-width: 768px) {
  .feature-box {
    grid-template-rows: auto auto;
    grid-template-columns: unset;
  }
  .feature-box__text-wrapper {
    padding-right: 0;
    padding: 0 10px;
  }
}

.navbar-buy-tickets {
  margin-left: 20px;
  font-size: 14px;
  text-transform: uppercase;
  font-family: Avenir;
}

.navbar-buy-tickets a {
  text-decoration: none;
  color: #ec1943;
}

.fr-book-now-cta {
  width: 12.5em;
}

@media (max-width: 768px) {
  .navbar-buy-tickets {
    margin-left: 0px;
  }
  .addMargin {
    margin-right: 70px;
  }
  .fr-book-now-cta {
    width: 316px;
  }
}

.subpage-container .slice-block ul {
  padding-left: 20px;
}

.subpage-container .slice-block ul li,
.subpage-container .slice-block ol li {
  font-family: Avenir;
  font-size: 18px;
  color: #545454;
  line-height: 40px;
}

.main-wrapper {
  max-width: 1200px;
  padding: 0 5.46vw;
  margin: auto;
}

@media (max-width: 768px) {
  .main-wrapper {
    padding: 0 16px;
  }
}
.microbrands-list {
  max-width: 1200px;
  margin: auto;
}

.card-image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.microbrand-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.microbrand-cards a {
  text-decoration: none;
}

.microbrand-card {
  color: #545454;
  display: grid;
  grid-template-rows: 170px auto 1fr;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.1);
  transition: all ease 0.2s;
  border-radius: 5px;
}

.microbrand-card .card-bottom .card-title {
  font-size: 15px;
  color: #000;
  font-family: 'Avenir', 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  font-weight: 500;
  line-height: 1;
  grid-row: 1;
  grid-column: 1 / 2;
}

.microbrand-card .card-bottom .card-price {
  font-family: 'Avenir', 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  font-size: 10px;
  justify-self: right;
  grid-row: 1;
  grid-column: 2 / 3;
  letter-spacing: 0.5px;
  text-align: right;
  line-height: 1.3;
}

.microbrand-card .card-bottom .card-price {
  font-size: 16px;
  font-weight: 500;
}

.microbrand-card .card-bottom {
  padding: 10px;
  align-items: center;
  display: grid;
  grid-gap: 5px;
}

.microbrand-card:hover {
  transform: translate3d(0, -6px, 0);
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, -6px, 0);
}

@media (max-width: 768px) {
  .microbrands-list {
    margin: auto 25px;
  }
  .microbrand-cards {
    grid-template-columns: 1fr;
  }
}

.long-form .card-carousel-heading h2 {
  margin: 0px !important;
  font-weight: 500;
  font-family: 'Graphik', 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  color: #000000;
  border-left: 3px solid #669dde;
  padding: 5px 10px 5px;
}

.long-form .card-carousel-heading h3 {
  margin: 0px !important;
  font-weight: 500;
  font-family: 'Graphik', 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  color: #000000;
  border-left: 3px solid #669dde;
  padding: 5px 10px 5px;
}

.long-form .card-carousel-heading h2::after {
  display: none;
}
.long-form .card-carousel-heading h3::after {
  display: none;
}

.card-carousel-container {
  max-width: 1200px;
}

.carousel-slider {
  margin: 50px auto;
  margin-top: 30px;
  position: relative;
}

.carousel-slider .microbrand-card {
  cursor: pointer;
  color: #545454;
  display: grid;
  grid-template-rows: 170px auto 1fr;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08), 0 0px 6px rgba(0, 0, 0, 0.12);
  transition: all ease 0.2s;
  text-decoration: none;
}

.carousel-slider .swiper-container {
  padding: 10px 6px;
  overflow: hidden;
}

.microbrands-list-heading {
  border-left: 3px solid #669dde;
  padding: 5px 10px 5px;
  font-family: 'Graphik', 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  font-weight: 500;
  color: #000000;
  margin: 40px 0px;
  font-size: 2em;
}

.carousel-slider .swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}

.carousel-slider .swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
}

.swiper-pagination.swiper-pagination-bullets {
  position: absolute;
  top: -25px;
  right: 35px;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 5px;
}

.carousel-slider .swiper-pagination-bullet-active {
  background: #ec1943 !important;
  opacity: 1 !important;
}

.carousel-slider .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2;
}

.carousel-slider .swiper-container {
  margin: 0 35px;
  width: auto;
  position: static;
}

.swiper-button-next {
  right: 5px;
  background-image: url('https://cdn-imgix-open.headout.com/alhambra-new/Path 231@3x.png');
  filter: invert(1);
  height: 30px;
  cursor: pointer;
  outline: none;
}

.swiper-button-prev {
  left: 5px;
  background-image: url('https://cdn-imgix-open.headout.com/alhambra-new/Path 231@3x.png');
  filter: invert(1);
  transform: rotate(180deg);
  height: 30px;
  cursor: pointer;
  outline: none;
}

.carousel-slider .swiper-pagination.swiper-pagination-bullets {
  top: -30px;
  right: 41px;
  bottom: unset;
  left: unset;
  grid-gap: unset;
}

.carousel-slider .swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  width: unset;
}

.content-wrapper {
  margin-top: 90px;
}

.description-table {
  table-layout: fixed;
  width: 100%;
  border: 1px solid #545454;
  border-spacing: 0;
}

.description-table td {
  width: auto;
  height: auto;
  max-width: 100%;
  word-break: break-word;
  padding: 0px 10px;
  border: 1px solid #545454;
  vertical-align: baseline;
}

@media (max-width: 768px) {
  .microbrands-list-heading {
    font-size: 24px;
  }
  .swiper-wrapper {
    grid-template-columns: 1fr;
  }
  .carousel-slider .swiper-pagination.swiper-pagination-bullets {
    top: -15px;
  }

  .description-table {
    table-layout: auto;
  }
  .table-container {
    overflow: auto;
  }
  .description-table td {
    word-break: unset;
  }
}

h1 > strong,
h2 > strong,
h3 > strong,
h4 > strong,
h5 > strong,
h6 > strong {
  font-weight: 500;
  color: #545454;
}

.short-code-cta-container {
  margin: 30px 0px;
}

.short-code-cta {
  display: inline-flex;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  border: 1.5px solid #ec1943;
  color: #ec1943;
  background-color: #fff;
  height: 2.5em;
  min-width: 6em;
  padding: 0px 30px;
  border-radius: 4px;
  transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55),
    background-position 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55),
    box-shadow 500ms linear;
  transform: scale(1, 1);
  will-change: transform;
  cursor: pointer;
}

.short-code-cta:hover {
  transform: scale(1.02, 1.08);
}

.group-booking-disclaimer p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}
