.react-tel-input {
  position: relative;
  width: 200px;
}
.react-tel-input .flag {
  width: 80px;
}
.react-tel-input .be {
  width: 69px !important;
}
.react-tel-input .ch {
  width: 60px !important;
}
.react-tel-input .mc {
  width: 75px !important;
}
.react-tel-input .ne {
  width: 70px !important;
}
.react-tel-input .np {
  width: 49px !important;
}
.react-tel-input .va {
  width: 60px !important;
}
.selected-flag .flag {
  transform: scale(0.25) translate(-150%, -150%);
}
.flag {
  position: relative;
  background-size: 20975px 60px;
  transform: scale(0.25) translateX(-150%);
}
.react-tel-input .ac {
  height: 40px;
  background-position: 0px 0px;
}
.react-tel-input .ad {
  height: 56px;
  background-position: -82px 0px;
}
.react-tel-input .ae {
  height: 40px;
  background-position: -164px 0px;
}
.react-tel-input .af {
  height: 54px;
  background-position: -246px 0px;
}
.react-tel-input .ag {
  height: 54px;
  background-position: -328px 0px;
}
.react-tel-input .ai {
  height: 40px;
  background-position: -410px 0px;
}
.react-tel-input .al {
  height: 57px;
  background-position: -492px 0px;
}
.react-tel-input .am {
  height: 40px;
  background-position: -574px 0px;
}
.react-tel-input .ao {
  height: 54px;
  background-position: -656px 0px;
}
.react-tel-input .aq {
  height: 54px;
  background-position: -738px 0px;
}
.react-tel-input .ar {
  height: 50px;
  background-position: -820px 0px;
}
.react-tel-input .as {
  height: 40px;
  background-position: -902px 0px;
}
.react-tel-input .at {
  height: 54px;
  background-position: -984px 0px;
}
.react-tel-input .au {
  height: 40px;
  background-position: -1066px 0px;
}
.react-tel-input .aw {
  height: 54px;
  background-position: -1148px 0px;
}
.react-tel-input .ax {
  height: 53px;
  background-position: -1230px 0px;
}
.react-tel-input .az {
  height: 40px;
  background-position: -1312px 0px;
}
.react-tel-input .ba {
  height: 40px;
  background-position: -1394px 0px;
}
.react-tel-input .bb {
  height: 54px;
  background-position: -1476px 0px;
}
.react-tel-input .bd {
  height: 48px;
  background-position: -1558px 0px;
}
.react-tel-input .be {
  height: 60px;
  background-position: -1640px 0px;
}
.react-tel-input .bf {
  height: 54px;
  background-position: -1711px 0px;
}
.react-tel-input .bg {
  height: 48px;
  background-position: -1793px 0px;
}
.react-tel-input .bh {
  height: 48px;
  background-position: -1875px 0px;
}
.react-tel-input .bi {
  height: 48px;
  background-position: -1957px 0px;
}
.react-tel-input .bj {
  height: 54px;
  background-position: -2039px 0px;
}
.react-tel-input .bl {
  height: 54px;
  background-position: -2121px 0px;
}
.react-tel-input .bm {
  height: 40px;
  background-position: -2203px 0px;
}
.react-tel-input .bn {
  height: 40px;
  background-position: -2285px 0px;
}
.react-tel-input .bo {
  height: 55px;
  background-position: -2367px 0px;
}
.react-tel-input .bq {
  height: 54px;
  background-position: -2449px 0px;
}
.react-tel-input .br {
  height: 56px;
  background-position: -2531px 0px;
}
.react-tel-input .bs {
  height: 40px;
  background-position: -2613px 0px;
}
.react-tel-input .bt {
  height: 54px;
  background-position: -2695px 0px;
}
.react-tel-input .bv {
  height: 58px;
  background-position: -2777px 0px;
}
.react-tel-input .bw {
  height: 54px;
  background-position: -2859px 0px;
}
.react-tel-input .by {
  height: 40px;
  background-position: -2941px 0px;
}
.react-tel-input .bz {
  height: 54px;
  background-position: -3023px 0px;
}
.react-tel-input .ca {
  height: 40px;
  background-position: -3105px 0px;
}
.react-tel-input .cc {
  height: 40px;
  background-position: -3187px 0px;
}
.react-tel-input .cd {
  height: 60px;
  background-position: -3269px 0px;
}
.react-tel-input .cf {
  height: 54px;
  background-position: -3351px 0px;
}
.react-tel-input .cg {
  height: 54px;
  background-position: -3433px 0px;
}
.react-tel-input .ch {
  height: 60px;
  background-position: -3515px 0px;
}
.react-tel-input .ci {
  height: 54px;
  background-position: -3577px 0px;
}
.react-tel-input .ck {
  height: 40px;
  background-position: -3659px 0px;
}
.react-tel-input .cl {
  height: 54px;
  background-position: -3741px 0px;
}
.react-tel-input .cm {
  height: 54px;
  background-position: -3823px 0px;
}
.react-tel-input .cn {
  height: 54px;
  background-position: -3905px 0px;
}
.react-tel-input .co {
  height: 54px;
  background-position: -3987px 0px;
}
.react-tel-input .cp {
  height: 54px;
  background-position: -4069px 0px;
}
.react-tel-input .cr {
  height: 48px;
  background-position: -4151px 0px;
}
.react-tel-input .cu {
  height: 40px;
  background-position: -4233px 0px;
}
.react-tel-input .cv {
  height: 47px;
  background-position: -4315px 0px;
}
.react-tel-input .cw {
  height: 54px;
  background-position: -4397px 0px;
}
.react-tel-input .cx {
  height: 40px;
  background-position: -4479px 0px;
}
.react-tel-input .cy {
  height: 53px;
  background-position: -4561px 0px;
}
.react-tel-input .cz {
  height: 54px;
  background-position: -4643px 0px;
}
.react-tel-input .de {
  height: 48px;
  background-position: -4725px 0px;
}
.react-tel-input .dg {
  height: 40px;
  background-position: -4807px 0px;
}
.react-tel-input .dj {
  height: 54px;
  background-position: -4889px 0px;
}
.react-tel-input .dk {
  height: 60px;
  background-position: -4971px 0px;
}
.react-tel-input .dm {
  height: 40px;
  background-position: -5053px 0px;
}
.react-tel-input .do {
  height: 50px;
  background-position: -5135px 0px;
}
.react-tel-input .dz {
  height: 54px;
  background-position: -5217px 0px;
}
.react-tel-input .ea {
  height: 54px;
  background-position: -5299px 0px;
}
.react-tel-input .ec {
  height: 54px;
  background-position: -5381px 0px;
}
.react-tel-input .ee {
  height: 51px;
  background-position: -5463px 0px;
}
.react-tel-input .eg {
  height: 54px;
  background-position: -5545px 0px;
}
.react-tel-input .eh {
  height: 40px;
  background-position: -5627px 0px;
}
.react-tel-input .er {
  height: 40px;
  background-position: -5709px 0px;
}
.react-tel-input .es {
  height: 54px;
  background-position: -5791px 0px;
}
.react-tel-input .et {
  height: 40px;
  background-position: -5873px 0px;
}
.react-tel-input .eu {
  height: 54px;
  background-position: -5955px 0px;
}
.react-tel-input .fi {
  height: 49px;
  background-position: -6037px 0px;
}
.react-tel-input .fj {
  height: 40px;
  background-position: -6119px 0px;
}
.react-tel-input .fk {
  height: 40px;
  background-position: -6201px 0px;
}
.react-tel-input .fm {
  height: 42px;
  background-position: -6283px 0px;
}
.react-tel-input .fo {
  height: 58px;
  background-position: -6365px 0px;
}
.react-tel-input .fr {
  height: 54px;
  background-position: -6447px 0px;
}
.react-tel-input .ga {
  height: 60px;
  background-position: -6529px 0px;
}
.react-tel-input .gb {
  height: 40px;
  background-position: -6611px 0px;
}
.react-tel-input .gd {
  height: 48px;
  background-position: -6693px 0px;
}
.react-tel-input .ge {
  height: 54px;
  background-position: -6775px 0px;
}
.react-tel-input .gf {
  height: 54px;
  background-position: -6857px 0px;
}
.react-tel-input .gg {
  height: 54px;
  background-position: -6939px 0px;
}
.react-tel-input .gh {
  height: 54px;
  background-position: -7021px 0px;
}
.react-tel-input .gi {
  height: 40px;
  background-position: -7103px 0px;
}
.react-tel-input .gl {
  height: 54px;
  background-position: -7185px 0px;
}
.react-tel-input .gm {
  height: 54px;
  background-position: -7267px 0px;
}
.react-tel-input .gn {
  height: 54px;
  background-position: -7349px 0px;
}
.react-tel-input .gp {
  height: 54px;
  background-position: -7431px 0px;
}
.react-tel-input .gq {
  height: 54px;
  background-position: -7513px 0px;
}
.react-tel-input .gr {
  height: 54px;
  background-position: -7595px 0px;
}
.react-tel-input .gs {
  height: 40px;
  background-position: -7677px 0px;
}
.react-tel-input .gt {
  height: 50px;
  background-position: -7759px 0px;
}
.react-tel-input .gu {
  height: 43px;
  background-position: -7841px 0px;
}
.react-tel-input .gw {
  height: 40px;
  background-position: -7923px 0px;
}
.react-tel-input .gy {
  height: 48px;
  background-position: -8005px 0px;
}
.react-tel-input .hk {
  height: 54px;
  background-position: -8087px 0px;
}
.react-tel-input .hm {
  height: 40px;
  background-position: -8169px 0px;
}
.react-tel-input .hn {
  height: 40px;
  background-position: -8251px 0px;
}
.react-tel-input .hr {
  height: 40px;
  background-position: -8333px 0px;
}
.react-tel-input .ht {
  height: 48px;
  background-position: -8415px 0px;
}
.react-tel-input .hu {
  height: 40px;
  background-position: -8497px 0px;
}
.react-tel-input .ic {
  height: 54px;
  background-position: -8579px 0px;
}
.react-tel-input .id {
  height: 54px;
  background-position: -8661px 0px;
}
.react-tel-input .ie {
  height: 40px;
  background-position: -8743px 0px;
}
.react-tel-input .il {
  height: 58px;
  background-position: -8825px 0px;
}
.react-tel-input .im {
  height: 40px;
  background-position: -8907px 0px;
}
.react-tel-input .in {
  height: 54px;
  background-position: -8989px 0px;
}
.react-tel-input .io {
  height: 40px;
  background-position: -9071px 0px;
}
.react-tel-input .iq {
  height: 54px;
  background-position: -9153px 0px;
}
.react-tel-input .ir {
  height: 46px;
  background-position: -9235px 0px;
}
.react-tel-input .is {
  height: 58px;
  background-position: -9317px 0px;
}
.react-tel-input .it {
  height: 54px;
  background-position: -9399px 0px;
}
.react-tel-input .je {
  height: 48px;
  background-position: -9481px 0px;
}
.react-tel-input .jm {
  height: 40px;
  background-position: -9563px 0px;
}
.react-tel-input .jo {
  height: 40px;
  background-position: -9645px 0px;
}
.react-tel-input .jp {
  height: 54px;
  background-position: -9727px 0px;
}
.react-tel-input .ke {
  height: 54px;
  background-position: -9809px 0px;
}
.react-tel-input .kg {
  height: 48px;
  background-position: -9891px 0px;
}
.react-tel-input .kh {
  height: 51px;
  background-position: -9973px 0px;
}
.react-tel-input .ki {
  height: 40px;
  background-position: -10055px 0px;
}
.react-tel-input .km {
  height: 48px;
  background-position: -10137px 0px;
}
.react-tel-input .kn {
  height: 54px;
  background-position: -10219px 0px;
}
.react-tel-input .kp {
  height: 40px;
  background-position: -10301px 0px;
}
.react-tel-input .kr {
  height: 54px;
  background-position: -10383px 0px;
}
.react-tel-input .kw {
  height: 40px;
  background-position: -10465px 0px;
}
.react-tel-input .ky {
  height: 40px;
  background-position: -10547px 0px;
}
.react-tel-input .kz {
  height: 40px;
  background-position: -10629px 0px;
}
.react-tel-input .la {
  height: 54px;
  background-position: -10711px 0px;
}
.react-tel-input .lb {
  height: 54px;
  background-position: -10793px 0px;
}
.react-tel-input .lc {
  height: 40px;
  background-position: -10875px 0px;
}
.react-tel-input .li {
  height: 48px;
  background-position: -10957px 0px;
}
.react-tel-input .lk {
  height: 40px;
  background-position: -11039px 0px;
}
.react-tel-input .lr {
  height: 42px;
  background-position: -11121px 0px;
}
.react-tel-input .ls {
  height: 54px;
  background-position: -11203px 0px;
}
.react-tel-input .lt {
  height: 48px;
  background-position: -11285px 0px;
}
.react-tel-input .lu {
  height: 48px;
  background-position: -11367px 0px;
}
.react-tel-input .lv {
  height: 40px;
  background-position: -11449px 0px;
}
.react-tel-input .ly {
  height: 40px;
  background-position: -11531px 0px;
}
.react-tel-input .ma {
  height: 54px;
  background-position: -11613px 0px;
}
.react-tel-input .mc {
  height: 60px;
  background-position: -11695px 0px;
}
.react-tel-input .md {
  height: 40px;
  background-position: -11772px 0px;
}
.react-tel-input .me {
  height: 40px;
  background-position: -11854px 0px;
}
.react-tel-input .mf {
  height: 54px;
  background-position: -11936px 0px;
}
.react-tel-input .mg {
  height: 54px;
  background-position: -12018px 0px;
}
.react-tel-input .mh {
  height: 42px;
  background-position: -12100px 0px;
}
.react-tel-input .mk {
  height: 40px;
  background-position: -12182px 0px;
}
.react-tel-input .ml {
  height: 54px;
  background-position: -12264px 0px;
}
.react-tel-input .mm {
  height: 54px;
  background-position: -12346px 0px;
}
.react-tel-input .mn {
  height: 40px;
  background-position: -12428px 0px;
}
.react-tel-input .mo {
  height: 54px;
  background-position: -12510px 0px;
}
.react-tel-input .mp {
  height: 40px;
  background-position: -12592px 0px;
}
.react-tel-input .mq {
  height: 54px;
  background-position: -12674px 0px;
}
.react-tel-input .mr {
  height: 54px;
  background-position: -12756px 0px;
}
.react-tel-input .ms {
  height: 40px;
  background-position: -12838px 0px;
}
.react-tel-input .mt {
  height: 54px;
  background-position: -12920px 0px;
}
.react-tel-input .mu {
  height: 54px;
  background-position: -13002px 0px;
}
.react-tel-input .mv {
  height: 54px;
  background-position: -13084px 0px;
}
.react-tel-input .mw {
  height: 54px;
  background-position: -13166px 0px;
}
.react-tel-input .mx {
  height: 46px;
  background-position: -13248px 0px;
}
.react-tel-input .my {
  height: 40px;
  background-position: -13330px 0px;
}
.react-tel-input .mz {
  height: 54px;
  background-position: -13412px 0px;
}
.react-tel-input .na {
  height: 54px;
  background-position: -13494px 0px;
}
.react-tel-input .nc {
  height: 40px;
  background-position: -13576px 0px;
}
.react-tel-input .ne {
  height: 60px;
  background-position: -13658px 0px;
}
.react-tel-input .nf {
  height: 40px;
  background-position: -13730px 0px;
}
.react-tel-input .ng {
  height: 40px;
  background-position: -13812px 0px;
}
.react-tel-input .ni {
  height: 48px;
  background-position: -13894px 0px;
}
.react-tel-input .nl {
  height: 54px;
  background-position: -13976px 0px;
}
.react-tel-input .no {
  height: 58px;
  background-position: -14058px 0px;
}
.react-tel-input .np {
  height: 60px;
  background-position: -14140px 0px;
}
.react-tel-input .nr {
  height: 40px;
  background-position: -14191px 0px;
}
.react-tel-input .nu {
  height: 40px;
  background-position: -14273px 0px;
}
.react-tel-input .nz {
  height: 40px;
  background-position: -14355px 0px;
}
.react-tel-input .om {
  height: 40px;
  background-position: -14437px 0px;
}
.react-tel-input .pa {
  height: 54px;
  background-position: -14519px 0px;
}
.react-tel-input .pe {
  height: 54px;
  background-position: -14601px 0px;
}
.react-tel-input .pf {
  height: 54px;
  background-position: -14683px 0px;
}
.react-tel-input .pg {
  height: 60px;
  background-position: -14765px 0px;
}
.react-tel-input .ph {
  height: 40px;
  background-position: -14847px 0px;
}
.react-tel-input .pk {
  height: 54px;
  background-position: -14929px 0px;
}
.react-tel-input .pl {
  height: 50px;
  background-position: -15011px 0px;
}
.react-tel-input .pm {
  height: 54px;
  background-position: -15093px 0px;
}
.react-tel-input .pn {
  height: 40px;
  background-position: -15175px 0px;
}
.react-tel-input .pr {
  height: 54px;
  background-position: -15257px 0px;
}
.react-tel-input .ps {
  height: 40px;
  background-position: -15339px 0px;
}
.react-tel-input .pt {
  height: 54px;
  background-position: -15421px 0px;
}
.react-tel-input .pw {
  height: 50px;
  background-position: -15503px 0px;
}
.react-tel-input .py {
  height: 44px;
  background-position: -15585px 0px;
}
.react-tel-input .qa {
  height: 32px;
  background-position: -15667px 0px;
}
.react-tel-input .re {
  height: 54px;
  background-position: -15749px 0px;
}
.react-tel-input .ro {
  height: 54px;
  background-position: -15831px 0px;
}
.react-tel-input .rs {
  height: 54px;
  background-position: -15913px 0px;
}
.react-tel-input .ru {
  height: 54px;
  background-position: -15995px 0px;
}
.react-tel-input .rw {
  height: 54px;
  background-position: -16077px 0px;
}
.react-tel-input .sa {
  height: 54px;
  background-position: -16159px 0px;
}
.react-tel-input .sb {
  height: 40px;
  background-position: -16241px 0px;
}
.react-tel-input .sc {
  height: 40px;
  background-position: -16323px 0px;
}
.react-tel-input .sd {
  height: 40px;
  background-position: -16405px 0px;
}
.react-tel-input .se {
  height: 50px;
  background-position: -16487px 0px;
}
.react-tel-input .sg {
  height: 54px;
  background-position: -16569px 0px;
}
.react-tel-input .sh {
  height: 40px;
  background-position: -16651px 0px;
}
.react-tel-input .si {
  height: 40px;
  background-position: -16733px 0px;
}
.react-tel-input .sj {
  height: 58px;
  background-position: -16815px 0px;
}
.react-tel-input .sk {
  height: 54px;
  background-position: -16897px 0px;
}
.react-tel-input .sl {
  height: 54px;
  background-position: -16979px 0px;
}
.react-tel-input .sm {
  height: 60px;
  background-position: -17061px 0px;
}
.react-tel-input .sn {
  height: 54px;
  background-position: -17143px 0px;
}
.react-tel-input .so {
  height: 54px;
  background-position: -17225px 0px;
}
.react-tel-input .sr {
  height: 54px;
  background-position: -17307px 0px;
}
.react-tel-input .ss {
  height: 40px;
  background-position: -17389px 0px;
}
.react-tel-input .st {
  height: 40px;
  background-position: -17471px 0px;
}
.react-tel-input .sv {
  height: 45px;
  background-position: -17553px 0px;
}
.react-tel-input .sx {
  height: 54px;
  background-position: -17635px 0px;
}
.react-tel-input .sy {
  height: 54px;
  background-position: -17717px 0px;
}
.react-tel-input .sz {
  height: 54px;
  background-position: -17799px 0px;
}
.react-tel-input .ta {
  height: 40px;
  background-position: -17881px 0px;
}
.react-tel-input .tc {
  height: 40px;
  background-position: -17963px 0px;
}
.react-tel-input .td {
  height: 54px;
  background-position: -18045px 0px;
}
.react-tel-input .tf {
  height: 54px;
  background-position: -18127px 0px;
}
.react-tel-input .tg {
  height: 50px;
  background-position: -18209px 0px;
}
.react-tel-input .th {
  height: 54px;
  background-position: -18291px 0px;
}
.react-tel-input .tj {
  height: 40px;
  background-position: -18373px 0px;
}
.react-tel-input .tk {
  height: 40px;
  background-position: -18455px 0px;
}
.react-tel-input .tl {
  height: 40px;
  background-position: -18537px 0px;
}
.react-tel-input .tm {
  height: 54px;
  background-position: -18619px 0px;
}
.react-tel-input .tn {
  height: 54px;
  background-position: -18701px 0px;
}
.react-tel-input .to {
  height: 40px;
  background-position: -18783px 0px;
}
.react-tel-input .tr {
  height: 54px;
  background-position: -18865px 0px;
}
.react-tel-input .tt {
  height: 48px;
  background-position: -18947px 0px;
}
.react-tel-input .tv {
  height: 40px;
  background-position: -19029px 0px;
}
.react-tel-input .tw {
  height: 54px;
  background-position: -19111px 0px;
}
.react-tel-input .tz {
  height: 54px;
  background-position: -19193px 0px;
}
.react-tel-input .ua {
  height: 54px;
  background-position: -19275px 0px;
}
.react-tel-input .ug {
  height: 54px;
  background-position: -19357px 0px;
}
.react-tel-input .um {
  height: 42px;
  background-position: -19439px 0px;
}
.react-tel-input .us {
  height: 42px;
  background-position: -19521px 0px;
}
.react-tel-input .uy {
  height: 54px;
  background-position: -19603px 0px;
}
.react-tel-input .uz {
  height: 40px;
  background-position: -19685px 0px;
}
.react-tel-input .va {
  height: 60px;
  background-position: -19767px 0px;
}
.react-tel-input .vc {
  height: 54px;
  background-position: -19829px 0px;
}
.react-tel-input .ve {
  height: 54px;
  background-position: -19911px 0px;
}
.react-tel-input .vg {
  height: 40px;
  background-position: -19993px 0px;
}
.react-tel-input .vi {
  height: 54px;
  background-position: -20075px 0px;
}
.react-tel-input .vn {
  height: 54px;
  background-position: -20157px 0px;
}
.react-tel-input .vu {
  height: 48px;
  background-position: -20239px 0px;
}
.react-tel-input .wf {
  height: 54px;
  background-position: -20321px 0px;
}
.react-tel-input .ws {
  height: 40px;
  background-position: -20403px 0px;
}
.react-tel-input .xk {
  height: 57px;
  background-position: -20485px 0px;
}
.react-tel-input .ye {
  height: 54px;
  background-position: -20567px 0px;
}
.react-tel-input .yt {
  height: 54px;
  background-position: -20649px 0px;
}
.react-tel-input .za {
  height: 54px;
  background-position: -20731px 0px;
}
.react-tel-input .zm {
  height: 54px;
  background-position: -20813px 0px;
}
.react-tel-input .zw {
  height: 40px;
  background-position: -20895px 0px;
}
.react-tel-input * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.react-tel-input .hide {
  display: none;
}
.react-tel-input .v-hide {
  visibility: hidden;
}
.react-tel-input input[type="text"],
.react-tel-input input[type="tel"] {
  position: relative;
  z-index: 0;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-left: 44px;
  margin-left: 0;
  background: #ffffff;
  border: 1px solid #cacaca;
  border-radius: 3px;
  box-shadow: 0 1px 2px #e3e3e3 inset;
  line-height: 25px;
  height: 28px;
  width: 100%;
}
.react-tel-input input[type="text"]:focus,
.react-tel-input input[type="tel"]:focus {
  border-color: #42bdff;
  border-left-color: #cacaca;
}
.react-tel-input input[type="text"].invalid-number,
.react-tel-input input[type="tel"].invalid-number {
  border: 1px solid #d79f9f;
  background-color: #faf0f0;
  border-left-color: #cacaca;
}
.react-tel-input input[type="text"].invalid-number:focus,
.react-tel-input input[type="tel"].invalid-number:focus {
  border: 1px solid #d79f9f;
  border-left-color: #cacaca;
  background-color: #faf0f0;
}
.react-tel-input .flag-dropdown {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0;
  background-color: #eaeaea;
  border: 1px solid #cacaca;
  border-radius: 3px 0 0 3px;
}
.react-tel-input .flag-dropdown {
  outline: 0px solid transparent;
}
.react-tel-input .flag-dropdown.open-dropdown {
  background: #fff;
  border-bottom: 0;
  border-radius: 3px 0 0 0;
}
.react-tel-input .flag-dropdown.open-dropdown .selected-flag {
  background: #fff;
  border-radius: 3px 0 0 0;
}
.react-tel-input .flag-dropdown:hover {
  cursor: pointer;
}
.react-tel-input .flag-dropdown:hover .selected-flag {
  background-color: #fff;
}
.react-tel-input input[disabled] + .flag-dropdown:hover {
  cursor: default;
}
.react-tel-input input[disabled] + .flag-dropdown:hover .selected-flag {
  background-color: transparent;
}
.react-tel-input .selected-flag {
  z-index: 13;
  position: relative;
  width: 38px;
  height: 26px;
  padding: 0 0 0 8px;
  border-radius: 3px 0 0 3px;
}
.react-tel-input .selected-flag .arrow {
  position: absolute;
  top: 50%;
  transform: scale(4);
  left: 120px;
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 4px solid #555;
}
.react-tel-input .selected-flag .arrow.up {
  border-top: none;
  border-bottom: 4px solid #555;
}
.react-tel-input .country-list {
  list-style: none;
  position: absolute;
  z-index: 20;
  padding: 0;
  margin: -1px 0 0 -1px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  background-color: white;
  border: 1px solid #ccc;
  width: 400px;
  /* max-height: 200px; */

  overflow-y: scroll;
  border-radius: 0 0 3px 3px;
  top: 26px;
}
.react-tel-input .country-list .flag {
  display: inline-block;
  margin-right: 6px;
  margin-top: 2px;
}
.react-tel-input .country-list .divider {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
}
.react-tel-input .country-list .country {
  padding: 5px 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.react-tel-input .country-list .country .dial-code {
  color: #999;
}
.react-tel-input .country-list .country:hover {
  background-color: #e8f7fe;
}
.react-tel-input .country-list .country.highlight {
  background-color: #c7e2f1;
}
.react-tel-input .country-list .country-name {
  margin: 0 6px 0 -60px;
}
.country[data-flag-key="flag_no_29"],
.country[data-flag-key="flag_no_32"],
.country[data-flag-key="flag_no_44"],
.country[data-flag-key="flag_no_50"],
.country[data-flag-key="flag_no_51"],
.country[data-flag-key="flag_no_59"],
.country[data-flag-key="flag_no_63"],
.country[data-flag-key="flag_no_67"],
.country[data-flag-key="flag_no_76"],
.country[data-flag-key="flag_no_77"],
.country[data-flag-key="flag_no_71"],
.country[data-flag-key="flag_no_123"],
.country[data-flag-key="flag_no_136"],
.country[data-flag-key="flag_no_148"],
.country[data-flag-key="flag_no_155"],
.country[data-flag-key="flag_no_179"],
.country[data-flag-key="flag_no_180"],
.country[data-flag-key="flag_no_181"],
.country[data-flag-key="flag_no_184"],
.country[data-flag-key="flag_no_224"],
.country[data-flag-key="flag_no_230"] {
  padding: 0 16px !important;
  margin-top: 2px !important;
}
.country[data-flag-key="flag_no_29"] .country-name,
.country[data-flag-key="flag_no_32"] .country-name,
.country[data-flag-key="flag_no_44"] .country-name,
.country[data-flag-key="flag_no_50"] .country-name,
.country[data-flag-key="flag_no_51"] .country-name,
.country[data-flag-key="flag_no_59"] .country-name,
.country[data-flag-key="flag_no_63"] .country-name,
.country[data-flag-key="flag_no_67"] .country-name,
.country[data-flag-key="flag_no_76"] .country-name,
.country[data-flag-key="flag_no_77"] .country-name,
.country[data-flag-key="flag_no_71"] .country-name,
.country[data-flag-key="flag_no_123"] .country-name,
.country[data-flag-key="flag_no_136"] .country-name,
.country[data-flag-key="flag_no_148"] .country-name,
.country[data-flag-key="flag_no_155"] .country-name,
.country[data-flag-key="flag_no_179"] .country-name,
.country[data-flag-key="flag_no_180"] .country-name,
.country[data-flag-key="flag_no_181"] .country-name,
.country[data-flag-key="flag_no_184"] .country-name,
.country[data-flag-key="flag_no_224"] .country-name,
.country[data-flag-key="flag_no_230"] .country-name {
  width: 75% !important;
}
.country {
  margin-top: 0 !important;
  padding: 11px 16px !important;
  align-items: center !important;
}
.country .flag {
  margin-top: 0 !important;
  margin-right: 8px !important;
}
.country[data-flag-key="flag_no_23"] .country-name {
  margin: 0 6px 0 -49px !important;
}
.country[data-flag-key="flag_no_205"] .country-name {
  margin: 0 6px 0 -40px !important;
}
.country[data-flag-key="flag_no_137"] .country-name {
  margin: 0 6px 0 -55px !important;
}
.country[data-flag-key="flag_no_146"] .country-name {
  margin: 0 6px 0 -29px !important;
}
.country[data-flag-key="flag_no_151"] .country-name {
  margin: 0 6px 0 -50px !important;
}
.country[data-flag-key="flag_no_230"] .country-name {
  margin: 0 6px 0 -40px !important;
}
